@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font: 400 14px Roboto, sans-serif;
}

body {
    background: #eeeeee;
    -webkit-font-smoothing: antialiased;
}

.image-logo {
    max-width: 120px;
}
